
<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Angular 13
      </a>

      <div>
        <button class="btn btn-success  me-3" routerLink="/home">Home</button>
        <button class="btn btn-primary  me-3" routerLink="/edit">Editar</button>
        <button class="btn btn-secondary me-3" routerLink="/listado">Listado</button>
        <button class="btn btn-info" routerLink="/create">Crear</button>
    </div>
    </div>
  </nav>